* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('./sunny.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#forecasts{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}